#messagePanel {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#messagePanel *:first-child {
    margin-top: 2vh;
}

/*
#messagePanel::before {
    content: 'Covid-19 Chatbot';
    text-align: center;
    display: inline-block;
    font-size: large;
    height: 3vh;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: var(--dark-teal);
}
*/
