.light-gray {
    background-color: #b2b2b2 !important;
}

.dark-gray {
    background-color: #8f8e8e;
}

.burgundy {
    background-color: #aa2941;
}

.light-pink {
    background-color: #e09ba9;
}

.white-text {
    color: white;
}

.black-text {
    color: rgb(58, 58, 58);
}

.black-text > a {
    color: rgb(0, 0, 0);
}

.white-text > a {
    color: rgb(197, 197, 197);
}

.light-pink-text {
    color: #e09ba9;;
}