.light-gray {
    background-color: #efefef;
}

.dark-gray {
    background-color: #8f8e8e;
}

.burgundy {
    background-color: #aa2941;
}

.light-pink {
    background-color: #ec8e9f;
}

.white-text {
    color: white;
}

.light-pink-text {
    color: #ec8e9f;
}