@font-face {
  font-family: BundesSans;
  src: url("../../fonts/BundesSansWeb-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

#root * {
  font-family: BundesSans, sans-serif;
}
