#header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: 75px;
    width: 100%;
    z-index: 1;
    background-color: var(--dark-teal);
}

#header > *{
    flex-grow: 1;
    flex-shrink: 2;
}

.questionsToggle {
    position: relative;
    min-width: 80px;
    height: 100%;
}

.pageTitle {
    position: relative;
    flex-grow: 15 !important;
    height: 100%;
}
.pageTitle > a {
    font-size: x-large;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 339px) {
    .clickableIcon {
        width: 80px !important;
    }
}

@media screen and (max-width: 319px) {
    .questionsToggle, .pageTitle > a {
        min-width: 60px;
        font-size: small;
    }

    .clickableIcon {
        width: 70px !important;
    }
}

@media screen and (max-width: 269px) {
    .questionsToggle, .pageTitle > a {
        min-width: 50px;
        font-size: x-small;
    }

    .clickableIcon {
        width: 60px !important;
    }
}

@media screen and (max-width: 229px) {
    .questionsToggle, .pageTitle > a {
        min-width: 40px;
        font-size: xx-small;
    }

    .clickableIcon {
        width: 50px !important;
    }
}

.questionsToggle:hover {
    background-color: var(--bright-teal);
    cursor: pointer;
}

.questionsToggle:focus {
    outline: none;
    background-color: var(--bright-teal);
    text-decoration: underline 1px #000 solid;
}

.exampleQuestion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    word-break: normal;
}

#imprint.contentContainer {
    display: initial;
}