.clickableIcon {
    border-radius: 75px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
}

.clickableIcon:hover, .clickableIcon:focus {
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
}

.clickableIcon img {
    position: relative;
    top: 20%;
    left: 20%;
    height: 60%;
}
