#urlSettingsContainer {
    width: 100%;
}

#backendUrlInput {
    min-width: 20rem;
    max-width: 100%;
    margin-right: 1rem;
}

#componentInput {
    min-width: 20rem;
    max-width: 100%;
    margin-right: 1rem;
}

#componentsList {
    min-width: 40rem;
    max-width: 100%;
    margin-right: 1rem;
}

.chatbotComponent > * {
    margin: 0.25rem;
}

.errorMessage {
    color: red;
}

.errorMessage.hidden {
    display: none !important;
}