/* input box styles go here */

#messageInput {
  position: relative;
  height: 150px;
  width: 100%;
  border-top: 2px solid #f0f0f0;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

#inputTextBox {
  position: relative;
  font-size: x-large;
  width: 90%;
  resize: none;
  display: inline-block;
}

#inputTextBox,
#inputTextBox:focus {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#submitButtonContainer {
  position: relative;
  width: 200px;
  display: inline-block;
  flex-shrink: 0;
}

/* loading bar styles go here */

#loadingBar {
  background-color: gray;
}

#loadingBar.visible {
  height: 15px;
  border-radius: 7px;
}

@keyframes load {
  0% {
    left: 0%;
  }
  100% {
    left: 80%;
  }
}

#loadingBar.visible::before {
  content: '';
  position: relative;
  display: block;
  left: 0%;
  top: 2.5px;
  width: 20%;
  border-radius: 7px;
  height: 7.5px;
  background-color: #aa2941;
  animation: load 1.75s infinite;
}