.messageContainer {
  width: 100%;
  height: fit-content;
  float: right;
  display: flex;
  flex-direction: row-reverse;
}

.messageContainer.reply {
    flex-direction: row;
}

.messageDataContainer {
  height: fit-content;
  border-radius: 14px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

.messageDataContainer:focus {
  outline: none;
}

.messageDataContainer.burgundy:focus {
  background-color: #d43653;;
}

.messageDataContainer:not(.burgundy):focus {
  background-color: rgb(230, 230, 230);
}

.messageText {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
  word-wrap: break-word;
  min-width: 80px;
  max-width: 40vw;
}

.messageTimeSent {
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
  text-align: right;
}
